<div class="home-container">
  <h1 class="home-title">Easy Color Palette Generator</h1>
  <ul class="palettes-wrapper">
    <app-single-vertical-palette />
    <app-single-vertical-palette />
    <app-single-vertical-palette />
    <app-single-vertical-palette />
  </ul>
  <div class="btn-wrapper">
    <button (click)="onColorRndChange()" mat-flat-button>Generate</button>
  </div>
  <div class="info">
    <p>Click on the palette to copy the color code</p>
  </div>
  <div class="divider"><mat-divider></mat-divider></div>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/juan-jose-aos-rivera-3a71a1105" target="_blank"><img src="assets/img/linkedin-icon.png" alt="Linkedin social icon" width="40" height="40"></a>
    <a href="https://github.com/cubewebs" target="_blank"><img src="assets/img/github-icon.png" alt="Linkedin social icon" width="40" height="40"></a>
  </div>
</div>
